.language-switcher {
  text-align: center;
  margin: 20px 0;
}

#language-toggle {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#language-toggle:hover {
  background-color: var(--secondary-color);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  color: white;
  z-index: 999;
  display: none;
}
.open {
  display: flex;
}
.black {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #00000069;
  z-index: 99;
  display: none;
}
.popup img {
  width: 70px;
  height: 70px;
  padding: 10px;
  /* margin-top: -50%; */
  background: #39b54a;
  border-radius: 100px;
}
.popup button {
  /* width: 100%; */
  padding: 10px 50px;
  background: #39b54a;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 100px;
}

:root {
  --main-color: #6c5ce7;
  --secondary-color: #a29bfe;
  --lighter-color: #e0e0e7;
  --light-color: #b0b0c0;
  --dark-color: #52505e;
  --font-smaller: 14px;
  --font-bigger: 20px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --transition-speed: 0.3s;
  --container-max-width: 1100px;
  --container-padding: 2em;
}

* {
  margin: 0;
  padding: 0;
  text-align: right;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--dark-color);
  *background: var(--dark-color); /* هذه الخاصية كانت معطلة */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 0.5em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  border: 8px solid var(--lighter-color);
  border-radius: 15px;
  background: #faf9ff;
}

.progress {
  position: relative;
  padding: 2em;
}

.logo {
  font-size: 1.75em;
  font-weight: 800;
  color: var(--dark-color);
  padding: 40px 48px;
  text-align: center;
}

.logo span {
  color: var(--main-color);
}

.progress-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.progress-steps li {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
}

.progress-steps li > span {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: var(--font-smaller);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  border-radius: 50%;
  background: var(--lighter-color);
  z-index: 1;
}

.progress-steps li.active > span {
  color: white;
  background: var(--main-color);
  border: 4px solid var(--secondary-color);
}

.progress-steps li p span {
  font-size: var(--font-smaller);
  color: var(--lighter-color);
  width: 150px;
  display: none;
}

.progress-steps li p {
  position: absolute;
  text-align: right;
  top: 4em;
  justify-content: center;
  font-size: 12px;
}

form {
  width: 100%;
  padding: 1em;
  background: white;
  border-radius: 30px 30px 15px 15px;
}

form > div,
form > div > div {
  max-width: 400px;
  margin: 0 auto;
}

form > div p,
form > div > div p {
  color: var(--light-color);
  margin-bottom: 2em;
}

form > div > div,
form > div > div > div:not(.checkbox) {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

input,
select {
  height: 50px;
  padding: 1em;
  border-radius: 7px;
  outline-color: var(--secondary-color);
  border: 1px solid var(--lighter-color);
  background: transparent;
}

label {
  font-size: var(--font-smaller);
  margin-bottom: 0.5em;
  font-weight: 600;
}

.grouping {
  display: flex;
}

.grouping input {
  max-width: 70px;
  text-align: center;
  margin-right: 1em;
}

.checkbox input {
  height: auto;
}

form > div:not(.btn-group) {
  display: none;
  animation: fadeIn var(--transition-speed) cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

form > div.active {
  display: block;
}

.bg-svg {
  width: 60px;
  height: 50px;
}

.btn-group {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  margin-top: 2em;
}

.btn-group [class*="btn-"] {
  background: var(--main-color);
  color: white;
  padding: 1em 2.5em;
  border: 4px solid var(--secondary-color);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color var(--transition-speed),
    border-color var(--transition-speed) ease-out;
}

.btn-group [class*="btn-"]:disabled {
  background: var(--light-color);
  border-color: var(--lighter-color);
  cursor: not-allowed;
}

.btn-group [class*="btn-"]:hover:not(:disabled) {
  background: var(--dark-color);
  border-color: var(--light-color);
}

.btn-submit,
.form-three.active ~ .btn-group .btn-next {
  display: none;
}

.form-three.active ~ .btn-group .btn-submit {
  display: block;
}

::placeholder {
  color: var(--light-color);
}

.Seller,
.Buyer,
.Investor {
  display: none;
}

@media screen and (min-width: 768px) {
  .form-box {
    flex-direction: row;
  }
  .black {
  height: 100%;
  width: 100%;
  background: #00000069;
  }

  .progress {
    flex: 1 0 35%;
    min-width: 300px;
    padding: 3em;
  }

  .logo {
    margin: -48px -48px 48px;
  }

  .progress-steps {
    flex-direction: column;
    gap: 0;
  }

  .progress-steps li:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 30px;
    width: 2px;
    height: 65px;
    background: var(--lighter-color);
  }

  form {
    padding: 3em;
    border-radius: 0 15px 15px 0;
  }

  .progress-steps li p {
    position: relative;
    top: auto;
    font-size: inherit;
  }

  .progress-steps li p span {
    display: block;
  }
}

textarea {
  border: 1px solid var(--lighter-color);
  border-radius: 7px;
}

.Enter_price {
  display: none;
}
